$estiloLogo: normal 18px bold "Tourney", sans-serif;
$colorPrimario: #55d6aa;
$colorSecundario: #01baef;
$colorLogo: #b3226f;
$colorFondo: #1b2927;


@media only screen and (max-width: 500px) {
	
	.myLogo {
		color: $colorLogo;
	}
	
	nav ul {
	    flex-flow: column wrap;
	}
	
	nav li {
		display: inline-block;
	}
	
	section {
		width: 100%;
	}

	.galeriaGrid {
		display: flex;
		flex-flow: row wrap;
	}
}